.price {
    display: flex;
    align-items: flex-start;
    font-weight: 500;
    font-size: 3.2rem;
    margin-bottom: 4rem;
}

.currency {
    margin-right: .8rem;
}

.decimal {
    font-size: 1.8rem;
    margin-top: .4rem;
}