@import '../../../styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 1.6rem;
  background-color: $color-gray-06;
  max-width: 102.4rem;
  border-radius: 0.4rem;
}

.image {
  flex: 1;
  min-width: 30rem;
}

.wrapperIlustration {
  display: flex;
  gap: 1.6rem;
  @media screen and (max-width: 720px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.wrapperDetails {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  @media screen and (max-width: 480px) {
    display: flex;
    align-items: flex-start;
  }
}

.status {
  font-size: 1.2rem;
  color: $color-gray-02;
  font-weight: 300;
}

.title {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  @media screen and (max-width: 480px) {
    font-size: 1.6rem;
  }
}

.wrapperDescription {
  max-width: 70rem;
  h2 {
    font-size: 2.4rem;
    font-weight: 400;
    padding-bottom: 2.4rem;
  }

  p {
    font-size: 1.6rem;
    color: lighten($color-gray-01, 50%);
  }
}
