@import '../../../styles/colors.scss';
.container {
  display: flex;
  padding: 8px;
  width: 100%;
  height: auto;
  max-width: 1024px;
  margin: 3.2rem auto;
  background-color: $color-gray-06;
  border-radius: 0.4rem;
}
