@import '../../../styles/colors.scss';

.card {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 18rem;
  border-bottom: 2px solid $color-gray-05;
}

.cardImage {
  border-radius: 0.4rem;
  border: 1px solid $color-gray-04;
}

.containerContent {
  max-width: 1024px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.containerValue {
  display: flex;
  padding: 1.6rem;
}

.cardValue {
  font-size: large;
  font-weight: 500;
}

.badgeDelivery {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: $color-green-02;
  margin: 0 0.8rem;
}

.cardDescription {
  max-width: 50rem;
  display: flex;
  padding: 0 1.6rem;
  overflow: hidden;
  > p {
    font-size: small;
    font-weight: 500;
  }
}

.cardCity {
  display: flex;
  flex-direction: row-reverse;
  padding: 4rem 8rem;
  width: 100%;
  height: 100%;
  display: flex;
  > p {
    font-size: x-small;
  }
}
