.form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.input {
    flex: 1;
    height: 100%;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    padding-left: 0.8rem;
}

.button {
    height: 100%;
    padding: 0.8rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}