@import '../../../styles/colors.scss';

.header {
  width: 100vw;
  height: 8rem;
  background-color: $color-brand-01;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 102.4rem;
  margin: 0 auto;
  height: 100%;
  padding: 1.6rem 0;
  gap: 1.6rem;
}

.wrapperSearchBar {
  height: 100%;
  flex: 1;
}
