@import 'typography';
@import 'colors';
@import 'mixins';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  @include antialias;
  // @include icon-css;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: $font-family;
  color: $color-gray-01;
  background: $color-gray-05;
}

button {
  cursor: pointer;
  border: 0;
}
input {
  border: 0;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
